<div class='container newPostDiv shrink'>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h3 class='mid'>Add a New Activity</h3>
    </div>
  </div>
  <div class='row newRow'>
    <form method="POST" action="/new/post" enctype="multipart/form-data">
      <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
        <h3>{{author_name}}</h3>
        <img class='img-responsive center-block' src="{{author_picture}}">
      </div>
      <div class='textPostDiv col-md-5 col-xs-12 col-s-12'>
        <div class='row'>
          <div class='form-group textPostDiv col-md-12 col-xs-12 col-s-12'>
            <label for="postTitle">Title</label>
            <br>
            <input class='form-control' type="text" name="title" ng-model="title">
          </div>
        </div>
        <div class='row'>
          <div class='textPostDiv form-group col-md-12 col-xs-12 col-s-12'>
            <label for="locationOfActivity">Location</label>
            <br>
            <input class='form-control' type="text" name="location" ng-model="location">
          </div>
          </div>
          <div class='row'>
            <div class='textPostDiv form-group col-md-12 col-xs-12 col-s-12'>
            <label for="hours">Hours of Activity</label>
            <br>
            <span class="glyphicon glyphicon-chevron-up glyph" aria-hidden="true" ng-click="hoursPlus()"></span>
            <h2>{{hours}}</h2>
            <span class="glyphicon glyphicon-chevron-down glyph" aria-hidden="true" ng-click="hoursMinus()"></span>
          </div>
        </div>
        </div>
      <div class='textPostDiv col-md-4 col-xs-12 col-s-12'>
        <div class='row'>
          <div class='form-group textPostDiv col-md-12 col-xs-12 col-s-12'>
            <label for="description">Description</label>
            <br>
            <textarea rows='4' class='form-control' type="text" name="description" ng-model="description"></textarea>
          </div>
        </div>
        <div class='row'>
          <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
            <h3>Photo Upload</h3>
            <input type="file" name="file">
            <div class='row'>
              <div class='textPostDiv form-group col-md-12 col-xs-12 col-s-12 submitButtonDiv'>
                <input type = "hidden" name = "facebook_id" value="{{facebook_id}}"></input>
                <input type = "hidden" name = "author_pic" value="{{author_picture}}"></input>
                <input type = "hidden" name = "author" value="{{author_name}}"></input>
                <input type = "hidden" name = "hours" value="{{hours}}"></input>
                <button type="submit" class='btn btn-primary btn-lg'>Add Post</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>





  </div>
</div>
