body{
  background-color: black;
  font-family: sans-serif;
  /*color: white;*/
  /*overflow-y: hidden;*/
}

::-webkit-scrollbar{
    display: none;
}

p{
  color: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: white;
}

.axis{
  color: white;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


.tweetFeed{
  /*position: absolute;
  top: 0;
  right: 0;*/
  height: 100vh;
  /*width: 24vw;*/
  outline: 1px solid white;
  padding: 15px;
  padding-bottom: 0;
  padding-top: 0;
  overflow: scroll;
  font-size: .9em;
}

.inputDiv{
  display: inline-block;
  vertical-align: middle;
}

.totalDiv{
  display: inline-block;
  vertical-align: middle;
}
.averageDiv{
  display: inline-block;
  vertical-align: middle;
}

.tweetText{
  color: white;
}

.feedTitle{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;

}

.a svg{
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
}

.leftContainer{
  height: 100vh;
}

.container{
  margin: 0;
  width: 100vw;
}

.progress{
  width: 43.5%;
  margin: 0 auto;
  display: inline-block;
  border-radius: 0;
  background-color: black;
  /*outline: 1px solid white;*/
}


.negbar{
  float: right;
  background-color: red;
}

.progcont{
  width: 100%;
  text-align: center;
  margin-left: -40px;
  position: absolute;
  bottom: 0;
}

.neg{
  margin-right: -5px;
}
