body{
  background-color: black;
  font-family: sans-serif;
  color: white;
}

::-webkit-scrollbar{
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: white;
}

.axis{
  color: white;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


.tweetFeed{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 24vw;
  outline: 1px solid white;
  padding: 15px;
  padding-bottom: 0;
  padding-top: 0;
  overflow: scroll;
  font-size: .9em;
}

.inputDiv{
  display: inline-block;
  vertical-align: middle;
}

.totalDiv{
  display: inline-block;
  vertical-align: middle;
}

.tweetText{
  color: white;
}

.feedTitle{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;

}

.a{
  /*height: 100vw;*/
}
