body{
    background-image: url("../img/full-slider/full-slide2.jpg");
    background-size: cover;
    background-attachment: fixed, scroll;
}

.slider_caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 9%;
  bottom: 82%;
}

.slides-container{
  height: 100vh;
}

#slides{
  height: 100vh;
}

.slideImg{
  height: 100vh;
}

.slider_area{
  height: 100vh;
}


.postDiv{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 140px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}

.newPostDiv{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 135px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}

.postDivProfile{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}

.postListDiv{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}

.signDiv{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 135px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}
.adminDiv{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: 70vw;
  clear: both;
  margin-top: 135px;
  padding: 20px;
  border-radius: 5px;
  transition: .2s;
}

.textPostDiv{
  text-align: center;
}

.postName{
  font-weight: bold;
  width: 95%;
  text-align: left;
}

.postName h3{
  font-size: 2em;
}


.pointsDiv h2{
  font-size: 6em;
}

.pointsDiv p {
  font-size: 1.5em;
}

.commentDiv p{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  width: 350px;
  height: 175px;
}

.comments{
  background-color: rgba(78,160,197,.8);
  text-align: center;
  margin-top: 12px;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
  color: white;
  border-radius: 5px;
}


.textPostDiv h3{
  margin-top: 0;
}


.pointCenter{
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.pointVert h2{
  /*margin-top: 40%;
  margin-bottom: 60%;*/
}

.pointVert p{
  /*margin-top: -60px;*/
}

/*.pointVert{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/


.activityPic{
  /*height: 200px;*/
  width: 100%;
  vertical-align: middle;
  transition: .3s;
}

.imageHider{
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
  transition: .5s;
  border-radius: 5px;
}

.imageHider:hover{
  /*overflow: visible;*/
  max-height: 5000px;
}

.activityPic:hover{
  margin-top: 0;
}

.row{
  margin: 10px;
}

.2{
  vertical-align: middle;
}

.progressBar{
  width: 90%;
  height: 25px;
  background-color: lightgray;
  box-shadow: inset 2px 2px 8px rgba(0,0,0,.2);
}

.progress-bar{
  background-color: #4ea0c5;
}

.progress-bar p{
  margin-top: 4px;
  font-size: 1.1em;
}

.progressDiv{
  text-align: center;
}

.progress{
  height: 30px;
  box-shadow: 3px 3px 8px rgba(0,0,0,.1);
}

.facebookButton{
  background-color: #4ea0c5;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  transition-duration: .5s;
  min-width: 170px;
}

.facebookButton:hover{
  background-color: #3d5b96;
}


.facebookButton span{
  color: white;
  font-weight: 300;
  vertical-align: middle;
  margin-top: 100px;
}

.facebookIcon{
  height: 50px;
  vertical-align: middle;
  transition: .5s;
}

.facebookButton:hover .facebookIcon{
  height: 52px;
}

.descriptionDiv{
  text-align: center;
}

.newUserDiv{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.center{
  margin: 0 auto;
  width: 70vw;
}

.mid{
  vertical-align: middle;
  text-align: center;
}

.newInput{
  width: 100%
}

.hours{
  text-align: center;
  font-size: 5em;
  height: 100%;
  margin: 0 auto;
}

.goalHours{
  font-size: 4em;
  height: 100%;
  width: 170%;
}

.goal{
  font-size: 3em;
}

.hoursDiv{
  margin-top: 37px;
  text-align: center;
}

.hoursDiv h2{
  font-size: 5em;
}

.newRow{
  margin-top: 30px;
}

.btn-primary{
  background-color: #4ea0c5;
  border: 1px solid #4ea0c5;
}

.btn{
    transition: .5s;
}

.profilePoints{
  text-align: center;
}

.profilePoints h2{
  margin-top: 25px;
  font-size: 6em;
}

.white{
  color: white;
  margin-top: 20px;
}

.feedContainer{
  margin-top: 170px;
}

.newBio{
  width: 90%;
}

.newProg{
  margin-top: -20px;
}

.submitButtonDiv{
  margin-top: 30px;
}

.glyph{
  font-size: 1.5em;
  transition: .2s;
}

.glyph:hover{
  color: #4ea0c5;
}

#footer{
  position: absolute;
  bottom: 0;
  background: none;
}

table{
  margin: 0 auto;
  width: 100%;
}

td{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}

thead{
  border-bottom: 1px solid black;
}

th{
  padding: 10px;
}

.postTitle{
  font-size: 10em;
}

.profilePostDate{
  text-align: left;
}

.profilePostDate h3{
  font-size: 2em;
}

.editButtonDiv{
  text-align: right;
}


button{
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}

.bottomRow{
  position: relative;
}

.postDescription{
  text-align: center;
}



.authorPic{
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}

.postListTitle{
  background-color: rgba(255,255,255,.3);
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
  border-radius: 5px;
}

.postListTitle h3{
  font-size: 3em;
}

hr{
  border:1px solid #4ea0c5;
  width: 30%;
  margin: 0 auto;
}

.left{
  margin: 0;
}

.lefty{
  text-align: left;
  padding: 0;
}

.add{
  color: #f47721;
}

.signInSpan{
  font-size: 2em;
  margin-top: 10px;
}

.borderRight{
  border-right: 1px solid #4ea0c5;
}

.stateSelect{
  min-width: 60px;
  /*width: 110%;*/
}

.titleInput{
  width: 95%;
  margin: 0 auto;
}

.addLi{
  border: 3px solid white;
  border-radius: 5px;
  transition: .5s;
}

.addLi:hover{
  border: 3px solid #f47721;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
  color: #f47721;
}

.slider_btn{
  border: 3px solid white;
  border-radius: 5px;
  transition: .5s;
}

.slider_btn:hover{
  border: 3px solid #f47721;
  color: white;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}

.buttonA{
  color: white;
}

.bottomRow{
  transition: .2s;
}

.col-md-5{
  transition: .2s;
}

.userName{
  margin-top: 20px;
  color: white;
}

a button{
  color: white;
}

.headName{
  color: white;
  text-decoration: none;
  transition: .2s;
}

.headName:hover{
  text-decoration: none;
  color: #f47721;
}

.aboutButton{
  border: 3px solid #f47721;
  background: none;
  color: #f47721;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  transition: .2s;
  box-shadow: 3px 3px 8px rgba(0,0,0,.3);
}

.aboutButton:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
