<div class='container postDiv'>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h3>About Us:</h3>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='textPostDiv col-md-12 col-xs-12 col-s-12'>
      <h4>Founded in the heartland of outdoor adventure, Boulder, Colorado, Avid4 Adventure (<a href="http://www.avid4.com">www.avid4.com</a>) has been activating kids’ outdoor genes since 2004.  Our day camps, overnight camps, school programs, and events throughout Colorado and the California Bay Area are designed to build kids’ confidence so they will choose to lead active outdoor lives.  We are accredited by the American Camp Association, were named among Colorado Parent’s Top 5 Sports Camps, and were selected as one of Outside Magazine’s Best Places to Work.</h4>
      <br>
      <h4><strong>Outside4Life was built to encourage kids and parents to track and share their outdoor activity, with the aim of inspiring others to do the same. Our goal is to create a national movement of kids choosing to lead more active lives.</strong></h4>
      <br>
      <h4>Our challenge to kids is to log at least 50 active days per year (active day = 2 hours outside) or 100 hours of outdoor activity. We know they will turn into more confident and happy people as a result. That’s enough about us—now, turn away from your screen and take your child outdoors!</h4>
    </div>
  </div>
  <div class'row'>
    <div class='col-md-12 textPostDiv'>
      <a href="login"><button class='aboutButton'>Get Started Now!</button></a>
    </div>
  </div>
</div>
