<!--Seach input modal-->
<div class='modal' id='myModal' tabindex="-1" role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h2>ENTER A TERM</h2>
      </div>
      <div class='modal-body'>
        <Input type='text' ng-model='term'></Input>
        <br>
        <button ng-click='callIt(term)' data-dismiss='modal' data-target='#myModal'>Do it!</button>
      </div>
      <div class='modal-footer'>
      </div>
    </div>
  </div>
</div>
<!--Splash Page-->
<div class='container' ng-show='showSplash'>
  <div class='row'>
    <div class='col-md-12 splashPage'>
      <h1>TweetMood</h1>
      <hr>
      <button data-toggle='modal' data-target='#myModal' ng-click='hideSplash()'>Get Started</button>
    </div>
  </div>
</div>
<!-- main part with graph -->
<div class='container' ng-show='showGraph'>
  <div class='row'>
    <div class='col-md-9 leftContainer'>
      <div class='row'>
        <div class='col-md-4'>
            <button data-toggle='modal' data-target='#myModal'>New Search</button>
            <button ng-click='stopIt()'>Stop it</button>
        </div>
        <div class='col-md-4'>
          <h3>Tweets: {{total}}</h3>
        </div>
        <div class='col-md-4'>
          <h3>Average: <span ng-style="{'color':avcolor}">{{average}}</span></h3>
        </div>
        <hr>
      </div>
      <div class='row'>
        <div class='progcont'>
          <div class='progress neg'>
            <div class='progress-bar negbar' ng-style="{'width':negWidth+'%', 'background-color':avcolor}">

            </div>
          </div>
          <div class='progress'>
            <div class='progress-bar' ng-style="{'width':posWidth+'%', 'background-color':avcolor}">

            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='a'></div>
      </div>
    </div>
      <div class='tweetFeed col-md-3'>
        <div class='feedTitle'><h3>Tweet Feed</h3></div>
        <p class='tweetText fadein' ng-repeat='tweet in tweets' ng-style="{'color':tweet.color}"><b>@{{tweet.user}}:</b> {{tweet.tweet}}</p>
      </div>
  </div>
</div>


<!-- <div ng-repeat="tweet in tweets | orderBy: 'reverse'"> -->
<!-- <div ng-repeat="tweet in tweets">
  <p>{{tweet.tweet}}</p>
</div> -->
