<div class='signDiv textPostDiv container'>
  <div class='row'>
    <h3>How it works: </h3>
    <hr>
  </div>
  <div class='row'>
    <div class='descriptionDiv col-md-4 col-xs-12 col-s-12 borderRight'>
      <h3>Parents:</h3>
      <h4>Share and discover activities for kids</h4>
    </div>
    <div class='descriptionDiv col-md-4 col-xs-12 col-s-12 borderRight'>
      <h3>Set your goal:</h3>
      <h4>Collect points by playing outside</h4>
    </div>
    <div class='descriptionDiv col-md-4 col-xs-12 col-s-12'>
      <h3>1 Hour of Outdoor Play:</h3>
      <h3>1 point</h3>
    </div>
  </div>
</div>
<br>
<div class='container postDiv textPostDiv center'>
  <div class='row'>
    <div class='col-md-12 col-xs-12 col-s-12'>
      <h3>Click the button below to sign in to Outside4Life using Facebook</h3>
      <br>
      <a ng-click="authenticate('facebook')">
        <div class='facebookButton'>
          <div class="row">
            <div class='col-md-2 col-xs-12 col-s-12'>
              <img src="/img/facebook.png" class='facebookIcon'>
            </div>
            <div class='col-md-10 col-s-0 col-xs-0'>
              <span class='signInSpan'>Sign in with Facebook</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
