<div class='container postDiv'>
  <div class='row'>
    <div class='textPostDiv col-md-12'>
      <h3>Create a New Profile:</h3>
    </div>
  </div>
  <div class='row'>
    <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
      <h3>{user.name}</h3>
      <img class='img-responsive center-block' src="http://placehold.it/250x250">
    </div>
    <div class='col-md-9 col-xs-12 col-s-12'>
      <div class='row'>
        <div class='textPostDiv newProg col-md-12 col-xs-12 col-s-12'>
          <h5>Progress:</h5>
          <div class="textPostDiv progress progress-striped active">
            0/100
           </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-9 col-xs-12 col-s-12'>
          <h3>Bio:</h3>
          <textarea class='newBio' name="name" rows="5"></textarea>
        </div>
        <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
          <h3>Activity Goal:</h3>
          <h3 class='goal'>100</h3>
          <h3>Points</h3>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
