<div class='container postDiv'>
  <div class='row'>
    <div class='textPostDiv col-md-12'>
      <h3>Create a New Profile:</h3>
    </div>
  </div>
  <div class='row'>
    <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
      <h3>{user.name}</h3>
      <img class='img-responsive center-block' src="http://placehold.it/200x200">
    </div>
    <div class='col-md-9 col-xs-12 col-s-12'>
      <div class='row'>
        <div class=' col-md-12 col-xs-12 col-s-12'>
          <div class="progress progress-striped active">
           <div class="progress-bar"  role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100">
           </div>
        </div>
      </div>
      <div class='row'>
        <div class=' col-md-10 col-xs-12 col-s-12'>
          <h3>Bio:</h3>
          <textarea class='newBio' name="name" rows="5"></textarea>
        </div>
        <div class='profilePoints col-md-2 col-xs-12 col-s-12'>
          <h3>Points:</h3>
          <h2>29</h2>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
