<div class='container postDiv'>
  <div class='row textPostDiv'>
      <h3><u>Profile:</u></h3>
  </div>
  <div class='row'>
    <div class='textPostDiv col-md-3 col-xs-12 col-s-12'>
      <h3>{{user.name}}</h3>
      <img class='img-responsive center-block authorPic' src="{{user.profile_image_url}}">
    </div>
    <div class='col-md-9 col-xs-12 col-s-12'>
      <div class='row'>
        <div class=' col-md-12 col-xs-12 col-s-12'>
          <h5>Progress:</h5>
          <div class="progress progress-striped active">
           <div class="progress-bar"  role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" ng-style="{'width': user.total_hours + '%'}">
            <p>{{user.total_hours}}/100</p>
           </div>
        </div>
      </div>
      <div class='row'>
        <div class=' col-md-10 col-xs-12 col-s-12'>
          <h3>Member Since:</h3>
          <p>{{user.created_at.slice(5,7)}}-{{user.created_at.slice(8, 10)}}-{{user.created_at.slice(0,4)}}</p>
          <h3>Bio:</h3>
          <p>{{user.bio}}</p>
        </div>
        <div class='profilePoints col-md-2 col-xs-12 col-s-12'>
          <h3>Total Points:</h3>
          <h2>{{user.total_hours}}</h2>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="textPostDiv container postListDiv">
      <h3><u>Posts:</u></h3>
</div>

<div class="postListDiv container" ng-repeat = "post in posts | orderBy: 'id' : 'reverse'">
  <div class="row topPostRow">
    <div class='col-md-2 col-xs-12 col-s-12'>
      <img class='img-responsive center-block authorPic' src="{{post.author_pic}}">
    </div>
    <div class='textPostDiv col-md-10 col-xs-12 col-s-12 profilePostDate'>
      <h3>{{post.title}}</h3>
      <h5>March 12th, 2016</h5>
    </div>

  </div>
  <div class='row bottomRow'>
    <div class='pointCenter col-md-2 col-xs-12 col-s-12'>
      <div class='pointVert'>
        <h2>{{post.hours}}</h2>
        <p>points</p>
      </div>
    </div>
    <div class='col-md-5 col-xs-12 col-s-12'>
      <div class='imageHider'>
        <img class='img-responsive activityPic center-block' src="{{post.picture_url}}">
      </div>
      <button class='btn btn-primary btn-sm'><a href="/posts/{{post.id}}/edit">Edit Post</a></button>
    </div>
    <div class='col-md-5 col-xs-12 col-s-12'>
      <h3 class='postDescription'>{{post.description}}</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 col-xs-12 col-s-12 editButtonDiv'>
      <button type="submit" class='btn btn-primary'>Edit Post</button>
      <button type="submit" class='btn btn-danger'>Delete Post</button>
    </div>
  </div>
  <div class='row 2'>
    <div class='bob col-md-12 col-xs-12 col-s-12'>
      <p>There aren't any comments yet!</p>
    </div>
  </div>
</div>
